<header id="topnav" class="defaultscroll sticky">
    <div class="container">
        <!-- Logo container-->
        <div>
            <a class="logo" href="/">
                <span class="l-dark">AlessandroLanni</span>
                <span class="l-light">AlessandroLanni</span>
        </div>                 
        
        <!-- End Logo container-->
        <div class="menu-extras">
            <div class="menu-item">
                <!-- Mobile menu toggle-->
                <a class="navbar-toggle">
                    <div class="lines">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </a>
                <!-- End mobile menu toggle-->
            </div>
        </div>

        <div id="navigation">
            <!-- Navigation Menu-->   
            <ul class="navigation-menu nav-light">
                
                <li class="has-submenu">
                    <a href="javascript:void(0)">Articoli</a><span class="menu-arrow"></span>
                    <ul class="submenu megamenu">

                        <li>
                            <ul>
                                <li><a href="index-saas.html">A</a></li>
                                <li><a href="index-classic-saas.html">B</a></li>
                                <li><a href="index-agency.html">C</a></li>
                            </ul>
                        </li>

                    </ul>
                </li>

                <li><a href="https://vixr.it" target="_blank">VIxR.it</a></li>
                
            </ul><!--end navigation menu-->
            
        </div><!--end navigation-->
    </div><!--end container-->
</header><!--end header -->