<div class="col-md-2 d-none d-md-block">
    <ul class="list-unstyled text-center sticky-bar social-icon mb-0">
        <li class="mb-3 h6">Condividi</li>
        <li><a href="javascript:void(0)" class="rounded"><i data-feather="facebook" class="fea icon-sm fea-social"></i></a></li>
        <li><a href="javascript:void(0)" class="rounded"><i data-feather="instagram" class="fea icon-sm fea-social"></i></a></li>
        <li><a href="javascript:void(0)" class="rounded"><i data-feather="twitter" class="fea icon-sm fea-social"></i></a></li>
        <li><a href="javascript:void(0)" class="rounded"><i data-feather="linkedin" class="fea icon-sm fea-social"></i></a></li>
    </ul><!--end icon-->
</div>